@import "./src/Landing/Landinn";

.InputNumberButton {
  position: absolute;
  width: 10px;
  height: 6px;
}

.InputNumber {
  position: relative;
  fill: $text-color;

  input[name=input-number] {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.4vw 1vw;
    min-width: 100px;
  }

  .InputUp {
    position: absolute;
    right: 8px;
    top: 6px;
  }

  .InputDown {
    position: absolute;
    right: 8px;
    bottom: 6px;
  }

  svg {
    width: 10px;
    height: 12px;
    position: absolute;
  }
}
