@import "Wrapper";

.create {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  color: $main-color-gold;
  font-size: 1em !important;
  //height: 100vh;

  &__add {
    font-size: 3em;
    //padding: 0;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin: auto;
    user-select: none;
  }

  &__return {
    padding: 20px 0;
  }

  &__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $modal-background;
    z-index: 1005;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}