@import "Wrapper";

.page {
  //z-index: -2;
  position: relative;
  //height: 100vh;
  width: 100%;
  //padding-top: $block-padding-top;
}

.arrow__up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: .5;
  cursor: pointer;
  width: 110px;
  height: 110px;
  transition: opacity .3s;
  z-index: 100;

  &__icon {
    background: url("../Images/icon/up-arrow-in-circular-button.svg") no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;

  }
}


