@import "Wrapper";

.middle {
  z-index: 1000;
  box-sizing: border-box;
  //overflow: hidden;
  @include max-width-paddings;
  min-width: 480px;
  position: relative;
  min-height: 75vh;
  //margin-top: $block-padding-top;
  margin-top: 3em;

  &__wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    overflow: hidden;
  }

  &__pic {
    width: 33.3%;
    position: relative;
    right: -1%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 5em;
    //border-bottom: 1px solid $main-color-gold;

    & img {
      width: 100%;
    }
  }

  &__text {
    //border-bottom: 1px solid $main-color-gold;
    width: 33.3%;
    box-sizing: border-box;
    padding: 1em;
    position: absolute;
    text-align: center;
    left: 0;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 1em;
    }
  }

  &__logo {
    width: 33.3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

    & img {
      width: 100%;
    }
  }

  &__title {
    font-size: $size-title;
    white-space: nowrap;
    font-family: $font-4;
  }

  &__description {
    font-size: $size-pading2;
    color: rgba(201, 171, 129, .69);
    //white-space: nowrap;
    font-family: $font-3;
    font-style: italic;
  }

  &__review {
    font-size: $size-text-small;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 2em;
    font-family: $font-5;
    max-height: 40vh;
    overflow: hidden;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__title, &__description {
    box-sizing: border-box;
    text-transform: uppercase;
  }

  &__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10003;
    background-color: $modal-background;
  }

  &__closeModal {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
    height: 2em;
    z-index: 100;
    cursor: pointer;
    background-image: url("../Images/icon/cancel.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__modalBlock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: 1s opacityVideo forwards;
    min-width: 320px;
    min-height: 200px;
    background-color: $background;
    padding: 2em;
    border: 1px solid $main-color-gold;
    @keyframes opacityVideo {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 991px) {

  .middle {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      padding: 0;

      .middle__text {
        width: 100%;
      }
    }

    &__logo, &__pic {
      flex-basis: 50%;
      position: static;

    }

    &__text {
      position: static;
      order: 3;
      flex-grow: 1;
      flex-basis: 100%;
      font-size: 1.5em;
    }

    &__description {
      white-space: normal;
    }
  }
}

