@import "Wrapper";

.mission {
  text-align: center;
  //@include max-width-paddings;
  min-width: 480px;
  padding-top: $block-padding-top;

  //&__wrapper {
  //  border-right: 1px solid $main-color-gold;
  //  border-left: 1px solid $main-color-gold;
  //}
}