@import "Wrapper";

.post {
  color: $text-color;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;

  &__numeration {
    font-size: $size-input;
  }

  &__title {
    @include title-text-4;
    padding: 0 10px;
  }

  &__text {

    color: white;
    padding: 1em 1em;
    font-family: $font-5;
  }

}