@font-face {
  font-family: Lumberjack;
  src: url('Lumberjack.otf') format('opentype');
}

@font-face {
  font-family: "LumberjackRough";
  src: url('LumberjackRough.otf') format('opentype');
}
@font-face {
  font-family: "LumberjackInlineRough";
  src: url('LumberjackInlineRough.otf') format('opentype');
}
@font-face {
  font-family: "LumberjackRoughShadow";
  src: url('LumberjackInlineRough.otf') format('opentype');
}
@font-face {
  font-family: "Comfortaa";
  src: url('10821.ttf') format('opentype');
}
@font-face {
  font-family: "Metropolis 1920";
  src: url('Metropolis.ttf') format('opentype');
}