@import "../../../styles/Wrapper";
.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 12px;
  border-right: 3px solid transparent;
  border-bottom: 7px solid white;
  border-left: 3px solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;

  &:before, &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    left: -10px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid white;
    border-left: 10px solid transparent;
    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

.starRatingWrapper {
  position: absolute;
  left: -12px;
  top: -9px;
  z-index: 1;
}

.starRating {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 12px;
  border-right: 3px solid transparent;
  border-bottom: 7px solid $text-color;
  border-left: 3px solid transparent;
  /* Controlls the size of the stars. */
  font-size: 24px;

  &:before, &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    left: -10px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid $text-color;
    border-left: 10px solid transparent;
    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}

.starRatingHalf {
  &.starRatingHalf {width: 12px;
  overflow: hidden}


}